* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FDFFFC;
}

header {
    background-color: #0C090D;
    padding-top: 15px;
    padding-bottom: 5px;
}

header h1,
h2 {
    color: #FDFFFC;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}

table {
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    margin: auto;
    margin-top: 1.8%;
    text-align: center;
    width: 50%;
}

tr {
    height: 50px;
}

td {
    border: 1px solid #0C090D;
    color: #0C090D
}

.td1 {
    background-color: #33658A;
}

.td2 {
    background-color: #DF2935;
}

.td3 {
    background-color: #F6AE2D;
}

button {
    background-color: #0C090D;
    border-radius: 10%;
    float: right;
    margin-right: 20px;
    margin-top: -26px;
    padding: 5px;
}

a {
    color: #FDFFFC;
    font-family: 'Roboto', sans-serif;
    text-underline-offset: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');